[submodule "generated_results/hpccg-rs-avon-results"]
	path = generated_results/hpccg-rs-avon-results
	url = https://github.com/EdmundGoodman/hpccg-rs-avon-results
[submodule "generated_results/hpccg-rs-kudu-results"]
	path = generated_results/hpccg-rs-kudu-results
	url = https://github.com/EdmundGoodman/hpccg-rs-kudu-results
[submodule "generated_results/eurocc_cfd-kudu-results"]
	path = generated_results/eurocc_cfd-kudu-results
	url = https://github.com/EdmundGoodman/eurocc_cfd-kudu-results
